--extra-index-url https://download.pytorch.org/whl/cpu

streamlit>=1.30.0
pandas>=2.0.0
numpy>=1.24.0
lifelines==0.27.8
scipy>=1.14.0
torch==2.6.0+cpu
torchtuples==0.2.2
pycox==0.3.0
scikit-learn>=1.3.0
joblib>=1.3.0